
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
.idea/vcs.xml
.idea/misc.xml
.idea/jarRepositories.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/artifacts/TorrentSeeker_main_jar.xml
.idea/.name
.gradle/vcs-1/gc.properties
.gradle/file-system.probe
.gradle/checksums/sha1-checksums.bin
.gradle/checksums/md5-checksums.bin
.gradle/checksums/checksums.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.3.1/gc.properties
.gradle/7.3.1/fileHashes/resourceHashesCache.bin
.gradle/7.3.1/fileHashes/fileHashes.lock
.gradle/7.3.1/fileHashes/fileHashes.bin
.gradle/7.3.1/fileChanges/last-build.bin
.gradle/7.3.1/executionHistory/executionHistory.lock
.gradle/7.3.1/executionHistory/executionHistory.bin
.gradle/7.3.1/dependencies-accessors/gc.properties
.gradle/7.3.1/dependencies-accessors/dependencies-accessors.lock
.gradle/7.3.1/checksums/sha1-checksums.bin
.gradle/7.3.1/checksums/md5-checksums.bin
.gradle/7.3.1/checksums/checksums.lock
build/tmp/jar/MANIFEST.MF
.gradle/nb-cache/trust/5AF61F44CF3158203F166AD2E0A8B9201AE9C472B5777A0E5AE6DDD2ABDC3018
.gradle/nb-cache/torrentSeeker-1064737973/project-info.ser
.gradle/nb-cache/subprojects.ser
.gradle/8.8/gc.properties
.gradle/8.8/fileHashes/fileHashes.lock
.gradle/8.8/fileHashes/fileHashes.bin
.gradle/8.8/fileChanges/last-build.bin
.gradle/8.8/dependencies-accessors/gc.properties
.gradle/8.8/checksums/checksums.lock
.gradle/8.10/gc.properties
.gradle/8.10/fileHashes/fileHashes.lock
.gradle/8.10/fileChanges/last-build.bin
.gradle/8.10/dependencies-accessors/gc.properties
.gradle/8.10/checksums/sha1-checksums.bin
.gradle/8.10/checksums/md5-checksums.bin
.gradle/8.10/checksums/checksums.lock
